/nb-configuration.xml
/SGBGraphChi/nbactions-LMDB-BD.xml
/SGBGraphChi/nb-configuration.xml
/SGBGraphChi/nbactions.xml
/SGBGraphChi/nbactions-LMDB-SD.xml
/SGBHadoop/nbactions-SGBHadoop-FW.xml
/SGBHadoop/nb-configuration.xml